@page "/RelationshipTypes/Create"
@page "/RelationshipTypes/{IdString}/Edit"
@using FIAB.Models;
@using FIAB.Contexts;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore;
@using System.Linq
@inject IConfiguration Config

<div class="container">
	<DisplayError Error=Error />

	<ShowLoading Loading=Loading>
		<h1>
			@(Editing ? $"Editing {Item.Id}" : "Create")
		</h1>
		<EditRelationshipType @bind-Value=Item />
	</ShowLoading>
</div>

@code
{
	[Parameter]
	public string IdString { get; set; } = string.Empty;
	private RelationshipType Item = new RelationshipType();
	private bool Editing => Item.Id != 0;

	private bool Loading = true;
	private Exception? Error;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			try
			{
				int id = 0;
				int.TryParse(IdString, out id);
				
				var tasks = new List<Task>();
				if(id != 0)
				{
					tasks.Add(SetItem(id));
				}

				await Task.WhenAll(tasks);
			}
			catch(Exception ex)
			{
				Error = ex;
			}
			finally
			{
				Loading = false;
				StateHasChanged();
			}
		}
	}

	private FIABContext GetContext()
	{
		return FIABContext.Create(Config);
	}

	private async Task SetItem(int id)
	{
		using var context = GetContext();
		Item = await context.RelationshipTypes
			.Include(n => n.Parent)
			.SingleAsync(n => n.Id == id);
	}
}