@namespace FIAB.Components

@if(Error != null)
{
	<div class="row">
		<div class="alert alert-danger" role="alert">
			<p class="fs-4">Aw, snap!</p>
			<p>@Error.Message</p>

			@if(Error.InnerException != null || !string.IsNullOrWhiteSpace(Error.StackTrace))
			{
				<Accordion>
				@if(Error.InnerException != null)
				{
					<AccordionItem Title="Inner Exception" IsActive=false>
						<Content>
							@Error.InnerException?.Message
						</Content>
					</AccordionItem>
				}
				@if(!string.IsNullOrWhiteSpace(Error.StackTrace))
				{
					<AccordionItem Title="Stack Trace" IsActive=false>
						<Content>
							@Error.StackTrace
						</Content>
					</AccordionItem>
				}
				</Accordion>
			}
			
		</div>
	</div>
}

@code
{
	[Parameter]
	[EditorRequired]
	public Exception? Error { get; set; }
}