@using FIAB.Contexts;
@inject IConfiguration Config

<h2>FUCKEE</h2>
<p>Is Loading? @Loading</p>
<Button Color="ButtonColor.Primary" Type="ButtonType.Button" onclick=@(async() => await LoadingChanged.InvokeAsync(!Loading))>Toggle Loading</Button>
<br/>
<Button Color="ButtonColor.Primary" Type="ButtonType.Button" onclick=@(async() => await InvokeAsync(DoWork))>Do Work</Button>

<p class="mt-3">
	<DisplayError Error=Error />
	<DisplaySuccess @ref=Success /><br/>
	<Button Color="ButtonColor.Primary" Type="ButtonType.Button" onclick=@(async() => await InvokeAsync(() => Success.ShowSuccess("Button", 3)))>Show Success</Button>
	<Button Color="ButtonColor.Primary" Type="ButtonType.Button" onclick=@(async() => await InvokeAsync(DoAndShow))>Work & Show Success</Button>
</p>
@code
{
	[Parameter]
	[EditorRequired]
	public bool Loading { get; set; } = false;
	[Parameter]
    public EventCallback<bool> LoadingChanged { get; set; }

	private Exception? Error;
	private DisplaySuccess Success = new DisplaySuccess();

	private async Task<bool> DoWork()
	{
		await LoadingChanged.InvokeAsync(true);
		Error = null;
		
		await Task.Run(() => {  
			
			for(var n = 0; n < 50; n++)
			{
				for(var x = 0; x < 10000; x++)
				{
					Console.Write($"\rDoing: {x}");
				}
			}
			Console.WriteLine("");
			
			using var ctx = FIABContext.Create(Config);
			var nouns = ctx.Nouns.Take(5).ToList();
		 });


		await LoadingChanged.InvokeAsync(false);
		//Error = new Exception("Aw, snap!");
		return true;
	}

	private async Task DoAndShow()
	{
		var goodWork = await DoWork();
		if(goodWork)
		{
			Success.ShowSuccess("Do and Show");
		}
	}
}