<h1>FUCKER</h1>
<p>Is Loading? @Loading</p>
<p>Value.Id: @Value.Id</p>
<Button Color="ButtonColor.Primary" Type="ButtonType.Button" onclick=@(async() => await InvokeAsync(() => Loading = !Loading))>Toggle Loading</Button>
<hr/>
<CascadingValue Name="Value" Value=@Value>
	<CascadingValue Name="Loading" Value=@Loading>
		<Fuckee OnLoadingChanged=HandleLoadingChanged />
	</CascadingValue>
</CascadingValue>

@code
{
	[Parameter]
    [EditorRequired]
    public Noun Value { get; set; } = new Noun();
    [Parameter]
    public EventCallback<Noun> ValueChanged { get; set; }
	
	private bool Loading = false;

	private void HandleLoadingChanged(bool input)
	{
		Console.WriteLine("Hello from HandleLoadingChanged.");
		Loading = input;
		StateHasChanged();
	}
}