@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IConfiguration Config
@inject IJSRuntime JS

<SearchableSelect T="Noun" Value=Value ValueChanged=ValueChanged Search=SearchNouns Id="Id" Placeholder="Placeholder" AddOptionFragment=Cap.ChildContent />
<CaptureRenderFragment @ref=Cap>
	<p>
		<Button Type="ButtonType.Button" Color="ButtonColor.Primary" onclick=@( async () => await ShowModal() ) >Add a new Noun</Button>
	</p>
</CaptureRenderFragment>

<Modal @ref="NounModal" Title="Add a Noun">
	<BodyTemplate>
		<EditNoun @bind-Value=NounToAdd />
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Secondary" @onclick=HideModal>Close</Button>
		<Button Color="ButtonColor.Primary">Save changes</Button>
	</FooterTemplate>
</Modal>

@code
{
	[Parameter]
	[EditorRequired]
	public Noun? Value { get; set; }

	[Parameter]
	public EventCallback<Noun?> ValueChanged { get; set; }

	[Parameter]
	[EditorRequired]
	public string? Id { get; set; }

	[Parameter]
	public string? Placeholder { get; set; } = "Nouns starting with...";

	private CaptureRenderFragment Cap = new CaptureRenderFragment();
	private Noun NounToAdd = new Noun();
	private Modal NounModal = new Modal();

	private async Task<IEnumerable<Noun>> SearchNouns(string searchTerm)
	{
		using var db = Contexts.FIABContext.Create(Config);
		var results = await db.Nouns.Where(n => n.Name.ToLower().StartsWith(searchTerm.ToLower()))
		.AsNoTracking()
		.Take(8)
		.ToListAsync();
		return results;
	}

	private async Task ShowModal()
	{
		NounToAdd = new Noun();
		await NounModal.ShowAsync();
	}
	
	private async Task HideModal()
	{
		await NounModal.HideAsync();
	}
}