@page "/"
@inject IConfiguration Config

<h1>Hello, world!</h1>

<p>I was hoping for @Username, but you'll do.</p>

@code
{
	string? Username = string.Empty;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender)
		{
			Username = FIAB.Models.Utilities.Env("AdminUsername", true, Config);
			StateHasChanged();
		}
		await Task.CompletedTask;
	}
}
