@page "/"
@inject IConfiguration Config

<h1>FIAB</h1>

<p>This would be a great place to have a cached, navigable 3d graph of all the relationships, but there's a lot of work between here and there.</p>

<p>For now you can checkout our lovely collection of <a href="/Nouns">Nouns</a>.</p>

<h2>Role Call:</h2>
<p>ClaimTypes.Name: @System.Security.Claims.ClaimTypes.Name</p>
<p>ClaimTypes.Role: @System.Security.Claims.ClaimTypes.Role</p>

<AuthorizeView Roles="User">
    <p>You can only see this if you're in the User role.</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <p>You can only see this if you're in the Admin role.</p>
</AuthorizeView>

@code
{

}
