@page "/"
@inject IConfiguration Config

<h1>FIAB</h1>

<p>This would be a great place to have a cached, navigable 3d graph of all the relationships, but there's a lot of work between here and there.</p>

<p>For now you can checkout our lovely collection of <a href="/Nouns">Nouns</a>.</p>

@code
{

}
